<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppClubdeportivo"
        tools:targetApi="31" >
        <activity
            android:name=".DesinscribirActivadNoSocioActivity"
            android:exported="false" />
        <activity
            android:name=".DesinscribirActividadActivity"
            android:exported="false" />
        <activity
            android:name=".ListadoDeudoresActivity"
            android:exported="false" />
        <activity
            android:name=".RecuperarContrasenaActivity"
            android:exported="false" />
        <activity
            android:name=".GestionarNoSociosActivity"
            android:exported="false" />
        <activity
            android:name=".GestionDeActividadesNoSocioActivity"
            android:exported="false" />
        <activity
            android:name=".GestionDeActividadesSocioActivity"
            android:exported="false" />
        <activity
            android:name=".BajaNoSocioActivity"
            android:exported="false" />
        <activity
            android:name=".BajaSocioActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".RegistrarPagosActivity"
            android:exported="false" />
        <activity
            android:name=".InscribirActividadActivity"
            android:exported="false" />
        <activity
            android:name=".RegistrarNoSocioActivity"
            android:exported="false" />
        <activity
            android:name=".RegistrarSocioActivity"
            android:exported="false" />
        <activity
            android:name=".MenuPrincipalActivity"
            android:exported="false" />
        <activity
            android:name=".GestionarSociosActivity"
            android:exported="false" />
        <activity
            android:name=".PantallaLoginActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>